<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script type=text/javascript>
        $(function() {
          // $('a#test').on('click', function(e) {
          //   e.preventDefault()
          //   let query = $('input#search-input').val();
          //   console.log(query);
          //   $.getJSON('/background_process',
          //       function(data) {
          //     //do nothing
          //   });
          //   return false;
          // });
          $('a#test').on('click', function(e) {
            e.preventDefault();
            let query = $('input#search-input').val();
            $.ajax({
              url:"background_process", //the page containing python script
              type: "post", //request type,
              dataType: 'json',
              data: {searchQuery: query},
              success:function(result){
                var downloadButt = $('a').append();
                console.log(result);
              }
            });
          });
          
        });

   
</script> -->



<div class='container'>
    <h3>Test</h3>
        <form actions="/" method="post">
            <input id="search-input" type="text" name="search-input" value=""><br>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>
</div>
